@charset "utf-8";

body {
    font-size: 16px;
    
    /* フォントの種類を指定するプロパティ */
    font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", Meiryo, "MS Pゴシック", sans-serif;
}

p {
    /* 文字の色を変更するプロパティ */
    color: #000000; /* RGBによる色指定 黒：#000000 */
    color: #005588; /* RGBによる色指定 白：#FFFFFF */ /* 後に来るプロパティが優先される */
    
    /* 文字のサイズを変更するプロパティ */
    /* 単位は px, em, rem, % */
    font-size: 24px;
    
    /* フォントの種類を指定するプロパティ */
    /* serif: 明朝体系 sans-serif: ゴシック体系 */
    font-family: serif;
    
    /* 行の高さを指定するプロパティ */
    /* 単位は px, em, rem, % */
    line-height: 2em;
    
    /* テキストの行揃えを変更するプロパティ */
    text-align: justify;
}

h1{
    /* テキストの行揃えを変更するプロパティ */
    text-align: center;
    
    /* 背景色を変更するプロパティ */
    background-color:coral;
}

div{
    /* background-color: azure; */
    /* 背景画像を変更するプロパティ */
    background-image: url(../../week4/img/large.jpg);
    background-repeat: no-repeat;
}

ul{
    /* リストの行頭文字を変更するプロパティ */
    list-style: none;
    /* ctrl+スペースで候補を自動表示 */
    /* ctrl+スラッシュでカーソルを合わせたところをコメントアウト */
}